In [36]:
import numpy as np
import pandas as pd
import datetime

In [33]:
df = pd.read_json('./USJPEUJP5minutes_2020-03-18_2020-06-30.json')
df_EURJPY = pd.read_csv('./DAT_MT_EURJPY_M1_202006.csv', names=('day', 'time', 'open', 'high','low','close','unknown'))

In [27]:
df

,currency,instrument,fx_business_date,london_date,hour,minute,volume_matched,volume_matched_unmatched,trades_matched,trades_matched_unmatched
0,EURJPY,SPT,2020-03-18,2020-03-18,0,0,5.368076e+07,8.954540e+07,74,111
1,USDJPY,SPT,2020-03-18,2020-03-18,0,0,2.789257e+08,4.157174e+08,290,433
2,EURJPY,SPT,2020-03-18,2020-03-18,0,5,3.691365e+06,2.411729e+07,7,28
3,USDJPY,SPT,2020-03-18,2020-03-18,0,5,1.304380e+08,2.272236e+08,196,325
4,EURJPY,SPT,2020-03-18,2020-03-18,0,10,1.187958e+07,2.971163e+07,23,38
...,...,...,...,...,...,...,...,...,...,...
43195,USDJPY,SPT,2020-06-30,2020-06-29,23,45,2.203549e+07,3.701949e+07,27,64
43196,EURJPY,SPT,2020-06-30,2020-06-29,23,50,6.318004e+05,1.756000e+06,5,6
43197,USDJPY,SPT,2020-06-30,2020-06-29,23,50,1.900686e+07,2.274279e+07,23,32
43198,EURJPY,SPT,2020-06-30,2020-06-29,23,55,0.000000e+00,4.069604e+06,0,6
43199,USDJPY,SPT,2020-06-30,2020-06-29,23,55,4.461773e+07,7.711173e+07,58,112

In [34]:
df_EURJPY

              day   time     open     high      low    close  unknown
0      2020.06.01  00:00  119.830  119.846  119.820  119.846        0
1      2020.06.01  00:01  119.845  119.868  119.842  119.868        0
2      2020.06.01  00:02  119.868  119.883  119.865  119.883        0
3      2020.06.01  00:03  119.881  119.895  119.878  119.885        0
4      2020.06.01  00:04  119.885  119.895  119.884  119.895        0
...           ...    ...      ...      ...      ...      ...      ...
31618  2020.06.30  23:54  120.952  120.952  120.944  120.944        0
31619  2020.06.30  23:55  120.944  120.944  120.935  120.935        0
31620  2020.06.30  23:56  120.935  120.935  120.913  120.917        0
31621  2020.06.30  23:57  120.917  120.917  120.866  120.873        0
31622  2020.06.30  23:58  120.874  120.897  120.865  120.890        0

[31623 rows x 7 columns]

In [ ]:
df_EURJPY = df_EURJPY

In [21]:
df_EURJPY_volume = df[df['currency'].isin(['EURJPY'])]
df_USDJPY_volume = df[df['currency'].isin(['USDJPY'])]
df_EURJPY_volume

,currency,instrument,fx_business_date,london_date,hour,minute,volume_matched,volume_matched_unmatched,trades_matched,trades_matched_unmatched
0,EURJPY,SPT,2020-03-18,2020-03-18,0,0,53680756.53,89545397.73,74,111
2,EURJPY,SPT,2020-03-18,2020-03-18,0,5,3691365.00,24117285.30,7,28
4,EURJPY,SPT,2020-03-18,2020-03-18,0,10,11879583.90,29711631.60,23,38
6,EURJPY,SPT,2020-03-18,2020-03-18,0,15,16151650.20,28168971.60,33,55
8,EURJPY,SPT,2020-03-18,2020-03-18,0,20,5418042.30,12277369.80,10,21
...,...,...,...,...,...,...,...,...,...,...
43190,EURJPY,SPT,2020-06-30,2020-06-29,23,35,3507504.00,13737724.00,7,14
43192,EURJPY,SPT,2020-06-30,2020-06-29,23,40,1349040.00,10688893.60,2,13
43194,EURJPY,SPT,2020-06-30,2020-06-29,23,45,1686300.00,5508580.00,2,8
43196,EURJPY,SPT,2020-06-30,2020-06-29,23,50,631800.40,1756000.40,5,6
43198,EURJPY,SPT,2020-06-30,2020-06-29,23,55,0.00,4069604.00,0,6

In [37]:
# 文字列をdatetimeの型に変換できる
date_str = '2020-06-30 0:5'
date_format = '%Y-%m-%d %H:%M'
datetime.datetime.strptime(date_str, date_format)

datetime.datetime(2020, 6, 30, 0, 5)

In [38]:
def get_datetime(x):
    date, hour, minute = x
    date_str = f'{date} {hour}:{minute}'
    date_format = '%Y-%m-%d %H:%M'
    dt = datetime.datetime.strptime(date_str, date_format)
    return dt

In [52]:
def get_datetime2(x):
    date, time = x
    date_str = f'{date} {time}'
    date_format = '%Y.%m.%d %H:%M'
    dt = datetime.datetime.strptime(date_str, date_format)
    return dt

In [39]:
df_EURJPY_volume['fx_business_date_datetime'] = df_EURJPY_volume[['fx_business_date', 'hour', 'minute']].apply(get_datetime, axis=1)
df_EURJPY_volume['london_date_datetime'] = df_EURJPY_volume[['london_date', 'hour', 'minute']].apply(get_datetime, axis=1)

df_EURJPY_volume = df_EURJPY_volume.sort_values(by='fx_business_date_datetime')

In [40]:
df_EURJPY_volume

,currency,instrument,fx_business_date,london_date,hour,minute,volume_matched,volume_matched_unmatched,trades_matched,trades_matched_unmatched,fx_business_date_datetime,london_date_datetime
0,EURJPY,SPT,2020-03-18,2020-03-18,0,0,53680756.53,89545397.73,74,111,2020-03-18 00:00:00,2020-03-18 00:00:00
2,EURJPY,SPT,2020-03-18,2020-03-18,0,5,3691365.00,24117285.30,7,28,2020-03-18 00:05:00,2020-03-18 00:05:00
4,EURJPY,SPT,2020-03-18,2020-03-18,0,10,11879583.90,29711631.60,23,38,2020-03-18 00:10:00,2020-03-18 00:10:00
6,EURJPY,SPT,2020-03-18,2020-03-18,0,15,16151650.20,28168971.60,33,55,2020-03-18 00:15:00,2020-03-18 00:15:00
8,EURJPY,SPT,2020-03-18,2020-03-18,0,20,5418042.30,12277369.80,10,21,2020-03-18 00:20:00,2020-03-18 00:20:00
...,...,...,...,...,...,...,...,...,...,...,...,...
43190,EURJPY,SPT,2020-06-30,2020-06-29,23,35,3507504.00,13737724.00,7,14,2020-06-30 23:35:00,2020-06-29 23:35:00
43192,EURJPY,SPT,2020-06-30,2020-06-29,23,40,1349040.00,10688893.60,2,13,2020-06-30 23:40:00,2020-06-29 23:40:00
43194,EURJPY,SPT,2020-06-30,2020-06-29,23,45,1686300.00,5508580.00,2,8,2020-06-30 23:45:00,2020-06-29 23:45:00
43196,EURJPY,SPT,2020-06-30,2020-06-29,23,50,631800.40,1756000.40,5,6,2020-06-30 23:50:00,2020-06-29 23:50:00
43198,EURJPY,SPT,2020-06-30,2020-06-29,23,55,0.00,4069604.00,0,6,2020-06-30 23:55:00,2020-06-29 23:55:00

In [54]:

df_EURJPY['fx_business_date_datetime'] = df_EURJPY[['day', 'time']].apply(get_datetime2, axis=1)
df_EURJPY

,day,time,open,high,low,close,unknown,fx_business_date_datetime
0,2020.06.01,00:00,119.830,119.846,119.820,119.846,0,2020-06-01 00:00:00
1,2020.06.01,00:01,119.845,119.868,119.842,119.868,0,2020-06-01 00:01:00
2,2020.06.01,00:02,119.868,119.883,119.865,119.883,0,2020-06-01 00:02:00
3,2020.06.01,00:03,119.881,119.895,119.878,119.885,0,2020-06-01 00:03:00
4,2020.06.01,00:04,119.885,119.895,119.884,119.895,0,2020-06-01 00:04:00
...,...,...,...,...,...,...,...,...
31618,2020.06.30,23:54,120.952,120.952,120.944,120.944,0,2020-06-30 23:54:00
31619,2020.06.30,23:55,120.944,120.944,120.935,120.935,0,2020-06-30 23:55:00
31620,2020.06.30,23:56,120.935,120.935,120.913,120.917,0,2020-06-30 23:56:00
31621,2020.06.30,23:57,120.917,120.917,120.866,120.873,0,2020-06-30 23:57:00
31622,2020.06.30,23:58,120.874,120.897,120.865,120.890,0,2020-06-30 23:58:00

In [56]:
df_fx_EURJPY = pd.merge(df_EURJPY, df_EURJPY_volume, on='fx_business_date_datetime', how='left')
df_fx_EURJPY

,day,time,open,high,low,close,unknown,fx_business_date_datetime,currency,instrument,fx_business_date,london_date,hour,minute,volume_matched,volume_matched_unmatched,trades_matched,trades_matched_unmatched,london_date_datetime
0,2020.06.01,00:00,119.830,119.846,119.820,119.846,0,2020-06-01 00:00:00,EURJPY,SPT,2020-06-01,2020-06-01,0.0,0.0,13197569.0,17119399.0,21.0,27.0,2020-06-01 00:00:00
1,2020.06.01,00:01,119.845,119.868,119.842,119.868,0,2020-06-01 00:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,2020.06.01,00:02,119.868,119.883,119.865,119.883,0,2020-06-01 00:02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
3,2020.06.01,00:03,119.881,119.895,119.878,119.885,0,2020-06-01 00:03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,2020.06.01,00:04,119.885,119.895,119.884,119.895,0,2020-06-01 00:04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31618,2020.06.30,23:54,120.952,120.952,120.944,120.944,0,2020-06-30 23:54:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
31619,2020.06.30,23:55,120.944,120.944,120.935,120.935,0,2020-06-30 23:55:00,EURJPY,SPT,2020-06-30,2020-06-29,23.0,55.0,0.0,4069604.0,0.0,6.0,2020-06-29 23:55:00
31620,2020.06.30,23:56,120.935,120.935,120.913,120.917,0,2020-06-30 23:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
31621,2020.06.30,23:57,120.917,120.917,120.866,120.873,0,2020-06-30 23:57:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
31622,2020.06.30,23:58,120.874,120.897,120.865,120.890,0,2020-06-30 23:58:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [60]:
#　為替は終値を使用
df = df_fx_EURJPY[['fx_business_date_datetime', 'volume_matched', 'volume_matched_unmatched', 'trades_matched', 'trades_matched_unmatched', 'open','high','low','close']]
df

,fx_business_date_datetime,volume_matched,volume_matched_unmatched,trades_matched,trades_matched_unmatched,open,high,low,close
0,2020-06-01 00:00:00,13197569.0,17119399.0,21.0,27.0,119.830,119.846,119.820,119.846
1,2020-06-01 00:01:00,NaN,NaN,NaN,NaN,119.845,119.868,119.842,119.868
2,2020-06-01 00:02:00,NaN,NaN,NaN,NaN,119.868,119.883,119.865,119.883
3,2020-06-01 00:03:00,NaN,NaN,NaN,NaN,119.881,119.895,119.878,119.885
4,2020-06-01 00:04:00,NaN,NaN,NaN,NaN,119.885,119.895,119.884,119.895
...,...,...,...,...,...,...,...,...,...
31618,2020-06-30 23:54:00,NaN,NaN,NaN,NaN,120.952,120.952,120.944,120.944
31619,2020-06-30 23:55:00,0.0,4069604.0,0.0,6.0,120.944,120.944,120.935,120.935
31620,2020-06-30 23:56:00,NaN,NaN,NaN,NaN,120.935,120.935,120.913,120.917
31621,2020-06-30 23:57:00,NaN,NaN,NaN,NaN,120.917,120.917,120.866,120.873
31622,2020-06-30 23:58:00,NaN,NaN,NaN,NaN,120.874,120.897,120.865,120.890

In [61]:
df = df.dropna()
df

,fx_business_date_datetime,volume_matched,volume_matched_unmatched,trades_matched,trades_matched_unmatched,open,high,low,close
0,2020-06-01 00:00:00,13197569.0,17119399.0,21.0,27.0,119.830,119.846,119.820,119.846
5,2020-06-01 00:05:00,2798609.0,6033841.0,6.0,10.0,119.895,119.900,119.894,119.895
10,2020-06-01 00:10:00,5328356.0,8439156.0,10.0,13.0,119.881,119.889,119.876,119.879
15,2020-06-01 00:15:00,7669233.0,14446333.0,11.0,20.0,119.877,119.882,119.855,119.859
20,2020-06-01 00:20:00,9082425.0,14776300.0,18.0,26.0,119.827,119.831,119.827,119.831
...,...,...,...,...,...,...,...,...,...
31599,2020-06-30 23:35:00,3507504.0,13737724.0,7.0,14.0,121.018,121.033,121.018,121.033
31604,2020-06-30 23:40:00,1349040.0,10688893.6,2.0,13.0,121.013,121.018,120.993,120.995
31609,2020-06-30 23:45:00,1686300.0,5508580.0,2.0,8.0,121.005,121.009,120.972,120.978
31614,2020-06-30 23:50:00,631800.4,1756000.4,5.0,6.0,120.964,120.982,120.964,120.981
31619,2020-06-30 23:55:00,0.0,4069604.0,0.0,6.0,120.944,120.944,120.935,120.935